@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@1,500&display=swap');

.product-card-container {
  display: block;
  position: relative;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  width: 60%;
  margin: 0 auto;
  color: white;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 50px -17px rgba(0,0,0,.3), 0 3px 20px rgba(0,0,0,.1);
    border-radius: 30px;
  }

  .product-card-content {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
  }

  .product-img {
    width: 40%;
    object-fit: cover;
    display: block;
  }

  .product-descripcion {
    padding: 1rem;
    width: 100%;
    text-align: left;
    font-family: 'Be Vietnam Pro', sans-serif;

    h2 {
      font-size: 3rem;
      margin-top: 0;
      font-weight: 900;
    }

    p {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 30%;

    .product-img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .product-descripcion {
      text-align: center;

      h2 {
        font-size: 2rem;
        margin-top: 1rem;
        font-weight: 700;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}