$primary-color-text: #E42575;
$color-background-card: rgb(50, 50, 50);
$font-stack: 'Be Vietnam Pro', sans-serif;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box,
}
body {
  background-color: #120C18 !important;

}
.add-button {
    font-family: $font-stack;
    background-color: rgb(18, 13, 24);
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: $primary-color-text;
    height: 24px;
    width: 120px;
    font-size: 11px;
    font-weight: medium;
    position: absolute;
    margin-top: 190px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}